#from https://github.com/github/gitignore/blob/master/CMake.gitignore
**/nbproject/**
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
_CPack_Packages
**~
**/compile_commands.json
**/*.deb
**/*.elf
